th {
  background: gray;
  color: white;
  padding: 1ex;
  text-align: center;
}

td {
  background: silver;
  text-align: center;
}

#akaiApcMiniDiv img {
  display: block;
  image-rendering: pixelated;
}

#akaiApcMiniDiv input {
  display: block;
  margin: 1ex 0;
}

#akaiApcMiniDiv canvas {
  box-shadow: 0 0 .1ex rgba(0, 0, 0, .25);
  display: block;
  image-rendering: pixelated;
  zoom: 10;
}
