th {
  background: gray;
  color: white;
  padding: 1ex;
  text-align: center;
}

td {
  background: silver;
  text-align: center;
}

#akaiApcMiniDiv img {
  display: block;
  image-rendering: pixelated;
}

#akaiApcMiniDiv button {
  cursor: pointer;
}

#akaiApcMiniDiv button:disabled {
  filter: grayscale();
}

#akaiApcMiniDiv svg {
  display: block;
}
