th {
  background: gray;
  color: white;
  padding: 1ex;
  text-align: center;
}

td {
  background: silver;
  text-align: center;
}

img {
  image-rendering: pixelated;
}

canvas {
  image-rendering: pixelated;
  zoom: 10;
}
